// -------------------------------------------------------------------------------------------------
// Colors
$grey-dark:			#3b3838;
$grey-darker: 	#555;
$grey:					#777;
$grey-lighter:	#ccc;
$grey-light:		#eee;

$black:					#030000;
$white:					#fff;

$blue: 					#0388cc;
$blue-dark:			darken($blue, 10%);

$red-dark:			#c0392b;
$red:						#e74c3c;

// -------------------------------------------------------------------------------------------------
// Fonts
$font-sans-serif:		'Ubuntu', Arial, sans-serif;
$font-serif: 				Georgia, serif;

// -------------------------------------------------------------------------------------------------
// Grid
$grid-columns:			12 !default;
$grid-gutter-width:	30px !default;

// -------------------------------------------------------------------------------------------------
// Alias
$h1:	'h1, .h1';
$h2:	'h2, .h2';
$h3:	'h3, .h3';

$button:			'button, .button';
$input-text:	'input[type="text"], input[type="password"]';
$input-any: 	'input[type="text"], input[type="password"], textarea, select';