/* Map Container
----------------------------------------------------------------------------------------*/
.map-container {
	position: relative;
	width: 300px;
	height: 200px;
	background: $white;
}

/* Tile Container
----------------------------------------------------------------------------------------*/
.tile-container {
	& {
		position: absolute;
		top: 10px; left: 10px;
		bottom: 10px; right: 10px;
	}

	.tile {
		position: absolute;
		width: 45px;
		height: 45px;
		background: $white;
		border: 1px solid $grey-light;
	}
}