/* Import
----------------------------------------------------------------------------------------*/
@import '_variables.scss';
@import '_mixins.scss';
@import '_normal.scss';


/* Layout
----------------------------------------------------------------------------------------*/
#page {
	width: 980px;
	max-width: 100%;
	margin: 10px;
}

#header {
	display: none;
	margin: 0 0 10px 0;
	padding: 10px 5px;
	border-bottom: 1px solid $grey;
}

#body {
	padding: 0 5px;
}

/* Menu Main
----------------------------------------------------------------------------------------*/
#menu-main {
	li {
		margin: 0 0 0 10px;
	}

	li:first-child {
		margin: 0;
	}
}

/* World Map
----------------------------------------------------------------------------------------*/
@import '_world.scss';