/* Import
----------------------------------------------------------------------------------------*/
@import '_variables.scss';
@import '_mixins.scss';
@import '_normal.scss';

/* Grid
----------------------------------------------------------------------------------------*/
.fluid-grid {
  @include make-column-row();
}

.grid {
  @include make-column();
}

.grid-25 {
  width: 25%;
}

.grid-33 {
  width: 33.33333333333333%;
}

.grid-50 {
  width: 50%;
}

.grid-66 {
  width: 66.66666666666666%;
}

.grid-75 {
  width: 75%;
}

.grid-100 {
  width: 100%;
}

/* Formulare
----------------------------------------------------------------------------------------*/
@import '_forms.scss';

/* Meldungen
----------------------------------------------------------------------------------------*/
.message {
	margin: 0 0 20px;
	padding: 5px;
	background: #005da4;
	color: #fff;
}

.message-error {
	background: $red;
}

.message-notice {
	background: $blue;
}

.message {
	ul:last-child, p:last-child {
		margin: 0;
	}

	p {
		padding: 0 10px;
	}
}

/* Listen
----------------------------------------------------------------------------------------*/
.list-inline {
	& {
		@include clearfix();
	}

	li {
		float: left;
	}
}

.list-roadmap {
	& {
		font-size: 12px;
	}

	header {
		font-weight: 500;
	}

	li {
		margin: 0 0 10px 0;
	}

	li li {
		position: relative;
		margin: 0;
		padding: 0 0 0 10px;
	}

	li li:before {
		content: '';
		position: absolute;
		top: 9px; left: 1px;
		width: 3px;
		height: 3px;
		background: $grey;
	}
}

/* Container
----------------------------------------------------------------------------------------*/
.container {
	& {
		margin: 15px 0 0 0;
		padding: 8px;
		border-top: 2px solid $blue;
		background: $white;
	}

	&.container-grey {
		border-color: $grey-lighter;
	}

	&:first-child {
		margin: 0;
	}

	& > header {
		margin: 0 0 15px 0;
		font-size: 13px;
		font-weight: 500;
	}
}

/* Layout
----------------------------------------------------------------------------------------*/
#page {
	width: 980px;
	max-width: 100%;
	padding: 15px;
}

#header {
	display: none;
	margin: 0 0 10px 0;
	padding: 10px 5px;
	border-bottom: 1px solid $grey;
}

/* Menu Main
----------------------------------------------------------------------------------------*/
#menu-main {
	li {
		margin: 0 0 0 10px;
	}

	li:first-child {
		margin: 0;
	}
}

/* World Map
----------------------------------------------------------------------------------------*/
@import '_world.scss';