/* Import
----------------------------------------------------------------------------------------*/
@import '_variables.scss';
@import '_mixins.scss';
@import '_normal.scss';

/* Grid
----------------------------------------------------------------------------------------*/
.fluid-grid {
  @include make-column-row();
}

.grid {
  @include make-column();
}

.grid-25 {
  width: 25%;
}

.grid-33 {
  width: 33.33333333333333%;
}

.grid-50 {
  width: 50%;
}

.grid-66 {
  width: 66.66666666666666%;
}

.grid-75 {
  width: 75%;
}

.grid-100 {
  width: 100%;
}

/* Listen
----------------------------------------------------------------------------------------*/
.list-inline {
	& {
		@include clearfix();
	}

	li {
		float: left;
	}
}

/* Container
----------------------------------------------------------------------------------------*/
.container {
	& {
		margin: 15px 0 0 0;
		padding: 8px;
		border-top: 2px solid $blue;
		background: $white;
	}

	&:first-child {
		margin: 0;
	}

	& > header {
		font-size: 13px;
		font-weight: 500;
	}
}

/* Layout
----------------------------------------------------------------------------------------*/
#page {
	width: 980px;
	max-width: 100%;
	margin: 10px;
}

#header {
	display: none;
	margin: 0 0 10px 0;
	padding: 10px 5px;
	border-bottom: 1px solid $grey;
}

#body {
	padding: 0 5px;
}

/* Menu Main
----------------------------------------------------------------------------------------*/
#menu-main {
	li {
		margin: 0 0 0 10px;
	}

	li:first-child {
		margin: 0;
	}
}

/* World Map
----------------------------------------------------------------------------------------*/
@import '_world.scss';